@import '../../utils/colors.scss';

.Movie {
    background-color: white;
    border: 1px solid $greyMedium;
    display: grid;

    img {
        display: block;
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }

    p {
        font-size: 1rem;
        margin-bottom: 10px;
        line-height: 1.1em;
    }
}